.jumbotron {
    text-align: center;
    background-color:  rgb(22, 5, 83);
    color: white;
    border-radius: 0;
    border-bottom: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.row {
display: inline-block;
text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 5, 83);
    color: white;
    text-align: center;
    text-shadow: ivory;
    text-size-adjust: 15px;
  }