/* * {
  overflow-y: auto;
  overflow-x: hidden;
} */
/* 
#root {
  background-image: url('http://drive.google.com/uc?export=view&id=141MXp9upNzabMAueIslvMVqJ-SpuSRdk') !important;
  background-size: cover;
} */

.jumbotron {
    text-align: center;
    background-color:  rgb(22, 5, 83);
    color: white;
    border-radius: 0;
    border-bottom: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar{
    margin-bottom: 25px;
    width: 100vw;
    width: 100%;
}

ul{
  border-color: gray;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 2px;
}

.searchArea{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    
}
.form {
  align-items: center;
  text-align: center
}
.form-control {
  align-items: center;
  text-align: center;
  border-radius: 1.25rem;
}

.card{
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    margin-bottom: 0.2rem;
   
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    text-shadow: ivory;
    text-size-adjust: 15px;
  }
  
  body {
    background-image: url("http://drive.google.com/uc?export=view&id=1TeLDVworx-cxmCT8Mw-szOxXvOXe1CmB");
    
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
#currentW {
  border-radius: 10px;
  text-align: center;
  background-color: ivory;
  color: black;
  width: 50%;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  overflow-y: hidden;
  
}

.col {
  text-align: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;

}
h3 {
  margin-left: auto;
  margin-right: auto;
}
